<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>collectAllServlet</display-name>
    <servlet-name>collectAllServlet</servlet-name>
    <servlet-class>com.tap.servlet.collectAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>collectAllServlet</servlet-name>
    <url-pattern>/collectAllServlet</url-pattern>
  </servlet-mapping>
  <display-name>Employee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>adminLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.tap.servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteEmployee</display-name>
    <servlet-name>deleteEmployee</servlet-name>
    <servlet-class>com.tap.servlet.deleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteEmployee</servlet-name>
    <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEmployee</display-name>
    <servlet-name>updateEmployee</servlet-name>
    <servlet-class>com.tap.servlet.updateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmployee</servlet-name>
    <url-pattern>/updateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.tap.servlet.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>com.tap.servlet.adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
</web-app>